#!/usr/bin/env bash

# Path to identity file
IDENTITY_PATH="$HOME/.ssh/id_rsa"

# Server SSH user
SSH_USER="emellen"

# Server address
SERVER_STAGING="web512.webfaction.com"
SERVER="web512.webfaction.com"

# Path to server directory that will hold public and archive directories
DEPLOY_DIRECTORY_STAGING="~/webapps/orgalorg/goodmelon/"
DEPLOY_DIRECTORY_PRODUCTION="~/webapps/goodmelon/"
