<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/override.css">
    <link rel="stylesheet" type="text/css" href="/css/utility.css">
    <link rel="stylesheet" type="text/css" href="/css/grid.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans|Merriweather:300,400" rel="stylesheet">
</head>
<body>

    {{> nav}}

    {{#if headerImage}}
        <div class="px1">
            <img src="{{headerImage}}" alt="{{headerImageDescription}}" class="hero">
        </div>
    {{/if}}

    <main class="container py3 px1">
        {{{content}}}
    </main>

    {{> footer}}

</body>
</html>
