<footer class="py3 px1">
    <div class="row">
        <div class="col col-4">
            <h2>Instagram</h2>
        </div>
        <div class="col col-8">
            <h2><a href="mailto:###">contact@goodmelon.studio</a></h2>
        </div>
    </div>
    <div>
        <p class="text-center"><small>All Right Reserved</small></p>
    </div>
</footer>
