<!---
	// Website: Eli Mellen, Beard and Beanie Creative
	// https://eli.li // http://beardandbeanie.com
-->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{#if title}}{{title}} || Good Melon{{else}}Good Melon{{/if}}</title>
<link rel="stylesheet" type="text/css" href="/assets/css/normalize.css">
<link rel="stylesheet" type="text/css" href="/assets/css/override.css">
<link rel="stylesheet" type="text/css" href="/assets/css/utility.css">
<link rel="stylesheet" type="text/css" href="/assets/css/grid.css">
<link rel="author" href="/humans.txt">

<!-- Meta Data -->
<meta name="description" content="I am passionate about providing personalized, affordable services to small museums, historical societies, archives, and cultural organizations. I can work with you on one-time projects and programs as well as recurring or long-term projects. Offering services in Strategic Planning, Collection Strategy, Content Management, and more.">

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="Good Melon">
<meta itemprop="description" content="I am passionate about providing personalized, affordable services to small museums, historical societies, archives, and cultural organizations. I can work with you on one-time projects and programs as well as recurring or long-term projects. Offering services in Strategic Planning, Collection Strategy, Content Management, and more.">
<meta itemprop="image" content="https://www.goodmelon.org/imgs/card.jpg">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://www.goodmelon.org">
<meta property="og:type" content="website">
<meta property="og:title" content="Good Melon">
<meta property="og:description" content="I am passionate about providing personalized, affordable services to small museums, historical societies, archives, and cultural organizations. I can work with you on one-time projects and programs as well as recurring or long-term projects. Offering services in Strategic Planning, Collection Strategy, Content Management, and more.">
<meta property="og:image" content="https://www.goodmelon.org/imgs/card.jpg">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Good Melon">
<meta name="twitter:description" content="I am passionate about providing personalized, affordable services to small museums, historical societies, archives, and cultural organizations. I can work with you on one-time projects and programs as well as recurring or long-term projects. Offering services in Strategic Planning, Collection Strategy, Content Management, and more.">
<meta name="twitter:image" content="https://www.goodmelon.org/imgs/card.jpg">

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="57x57" href="https://www.goodmelon.org/imgs/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="https://www.goodmelon.org/imgs/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="https://www.goodmelon.org/imgs/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="https://www.goodmelon.org/imgs/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="https://www.goodmelon.org/imgs/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="https://www.goodmelon.org/imgs/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="https://www.goodmelon.org/imgs/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="https://www.goodmelon.org/imgs/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="https://www.goodmelon.org/imgs/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="https://www.goodmelon.org/imgs/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://www.goodmelon.org/imgs/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="https://www.goodmelon.org/imgs/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="https:/chm/www.goodmelon.org/imgs/favicon/favicon-16x16.png">
<link rel="manifest" href="https://www.goodmelon.org/imgs/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="https://www.goodmelon.org/imgs/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<!-- Analytics -->
<!-- Matomo -->
<script type="text/javascript">
    var _paq = _paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="//beardandbeanie.com/analytics/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
</script>
<!-- End Matomo Code -->

