<!doctype html>
<html lang="en">
<head>
    {{> head}}
</head>
<body>

    <div class="text-white" style="background-image: url({{headerImage}}); background-repeat: no-repeat; background-position: center center; background-size: cover; width: 100%; height: 100vh; display: table">
        <div class="shadow--darker" style="display: table-cell">

            <div class="px4">
                <div class="row">
                    <h1 class="logo logo-hero"><a href="/about" title="About Good Melon">Good<br>Melon</a></h1>
                    <h2 class="logo-subtitle hide-on-mobile">Heritage Resource Manager &bull; Narrative Consultant</h2>
                    <h3 class="logo-subtitle show-on-mobile">Heritage Resource Manager <br><br> Narrative Consultant</h3>
                    <nav>
                        {{> nav-contents}}
                    </nav>
                </div>
            </div>

        </div>
    </div>
    {{> instant }}
</body>
</html>
