<!doctype html>
<html lang="en">
<head>
    {{> head}}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>

    <div class="text-white" style="background-image: url({{headerImage}}); background-repeat: no-repeat; background-position: center center; background-size: cover; width: 100%; height: 100vh; display: table">
        <div class="shadow--darker" style="display: table-cell">
            {{> nav}}
            <main class="container py4 px1">
                <h1>{{title}}</h1>
                {{{content}}}
            </main>
        </div>
    </div>
    <script src="/assets/js/lib.js"></script>
    <script>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
                if (!user) {
                    window.netlifyIdentity.on("login", () => {
                        document.location.href = "/admin/";
                    });
                }
            });
        }
    </script>
</body>
</html>
