<ul>
    <li><a href="/about">About</a></li>
    <li><a href="/services">Services</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="https://blog.goodmelon.org">Blog</a></li>
</ul>
