<div class="px1">
    <div class="row">
        <div class="mobile-col mobile-col-3">
            <h1 class="logo"><a href="/" title="Front Page">Good Melon</a></h1>
        </div>
        <div class="mobile-col mobile-col-9">
            <nav class="hide-on-mobile">
                {{> nav-contents}}
            </nav>
            <nav class="show-on-mobile">
                <ul>
                    <li class="text-right">
                        <a onclick="peekaboo('menuDiv','menuTrigger')" id="menuTrigger" aria-label="Toggle Navigation Menu Open or Closed">Menu</a>
                    </li>
                </ul>
                <div id="menuDiv" style="display: none;">
                    <nav class="text-right">
                        {{> nav-contents}}
                    </nav>
                </div>
            </nav>
        </div>
    </div>
</div>
