<div class="px4">
    <div class="row">

        <h1 class="logo"><a href="/" title="Front Page">Good<br>Melon</a></h1>

        <nav>
            {{> nav-contents}}
        </nav>

    </div>
</div>
